body{
  background-color: #FAF3DF;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: hsl(203, 8%, 68%);
  padding: 10px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-style: hidden;
  padding: 1px;
  /* font-size: 30px; */
  text-align: center;
  /* height: 50px;
  width: 50px; */
}

.inside-grid{
  /* position:sticky; */
  /* border: 1px solid green; */
  color:ghostwhite;
}

.crypBtn{
  background-color: lavender;
  /* border-radius: 25%; */
  font-size: 25px;
  margin: 5px;
  font-family:  Arial, sans-serif;
  color:navy;
  
}

.crypBtn:hover{
  /* background-color: lightblue; */
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnDiv{
  text-align: center;
  
  
}

.nDiv{
  text-align: center;
  background-color:hsl(203, 8%, 68%);
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  height: 5%;
  margin-bottom: 35px;
}

.nBtn{
  font-size: 25px;
  background-color: inherit;
  border-style: hidden;
}

.nBtn:hover{
  background-color: hsl(202, 4%, 56%);
  /* box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  
}